.flower {
  height: 200px;
  width: 200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000;
  .mid {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(circle, #000, #ff5e00, #000);
    z-index: 9999;
    background-size: 5px 5px;
    filter: drop-shadow(0 0 8px #682600);
  }
}
